*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FCDED1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#C8799F;
}

.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links{
    margin-left: 20px;
}

.nav-links a{
    text-decoration: none;
    color: black; /*cambiar el color de los enlaces*/
    font-size: 16px;
    padding: 5ox 10px;
    transition: color 0.3 ease;
}

.nav-links a:hover{
    color: pink;
}

.hero{
    background-color: #F194AE;
    background-size:cover;
    background-position: center;
    text-align: center;
    color: azure;
    padding: 50px 0;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content img{
    width: 200px;
    height: auto;
}

.hero h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

.button{
    padding-top: 35px;
}

.button-menu{
    margin: 15px;
    padding: 5px;
    border-radius: 20%;
    background-color: #FCDED1;
    color: #AE506A;
}
/*seccion de prodcutos*/
.featured-products{
    padding: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.product{
    width: 300px;
    margin-bottom: 30px;
}

.product img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

/*seccion de menu*/
.Menú{
    padding: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.menu-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.item{
    width: 300px;
    margin-bottom: 30px;
}
.item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.pasteles{
    padding: 50px;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); /*Responsive*/
    gap: 20px; /*espaciado*/
}

.pastel img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.miembro{
    width: 200px;
    margin-bottom: 35px;
}

.miembro img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
/* seccion de personal*/

.equipo{
    padding: 50px;
    text-align: center;
    background-color: #F194AE;
}

.equipo-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*Estilos del pie de pagina*/
footer{
    background-color:#AE506A ;
    color: black;
    text-align: center;
    padding: 10px 0;
}

.social-media{
    margin-bottom: 25px;
}
.social-media a{
    color: #FCDED1;
    margin: 0 10px;
    font-size: 24px;
}
.newletter{
    text-align: center;
    margin-bottom: 20px;
}
.newsletter unput [type="email"]{
    padding: 8px;
    border: 1px solid pink;
    border-radius: 4px;
    margin-bottom: 10px;
}
.newletter button [type="submit"]{
    background-color:black;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cupcakes{
    padding: 50px;
    text-align: center;
}

.grid-cupcakes{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*4 Columnas de igual tamaño*/
    grid-template-rows: repeat(2, 260px);/*2 Filas de 250px*/
    gap: 20px; /*Espaciado entre cajitas*/
    grid-template-areas: 
    "cupcake1 cupcake1 cupcake2 cupcake3"
    "cupcake1 cupcake1 cupcake4 cupcake5";
}

.cupcake{
    border: 1px solid palevioletred;
    padding: 20px;
}

.cupcake img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

/*Asignar areas a los cupcakes*/ 
.cupcake:nth-child(1) {grid-area: cupcake1;}
.cupcake:nth-child(2) {grid-area: cupcake2;}
.cupcake:nth-child(3) {grid-area: cupcake3;}
.cupcake:nth-child(4) {grid-area: cupcake4;}
.cupcake:nth-child(5) {grid-area: cupcake5;}

